:host {
  flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;

  &.tile {
    flex: 0 0 50%;
    padding: 0;
  }

  .imaged {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
    margin-right: 0;
    margin-bottom: 10px;

    &.left {
      margin-left: 0;
      margin-right: 5px;
    }

    &.selected {
      border: 3px solid #18A1D8;

      .answer-bar {
        background-color: rgba(#18A1D8, 0.73);
        margin-bottom: -3px;
      }
    }

    .answer-bar {
      background-color: rgba(#1E7E2E, 0.73);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 10px;
      color: white;
      font-family: 'Alegreya Sans', sans-serif;
      text-align: center;
    }
  }

  .radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

    .radio-button {
      flex: 0 0 20px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;

      &.selected {
        border-color: #1E7E2E;
      }

      .radio-selected {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: #1E7E2E;
      }
    }

    p {
      padding: 0;
    }
  }
}
