:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .results {
    display: flex;
    flex-direction: row;
    flex: 0 0 40px;

    &.header {

      div, span {
        color: #2b2b2b !important;
        border-color: #2b2b2b !important;
      }

      div {
        background-color: #1E7E2E;
        color: white !important;
      }
    }

    div {
      flex: 0 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1E7E2E;
      color: white;
    }

    span {
      &.max-width {
        max-width: 100px;
      }

      &.result {
        max-width: 120px;
        flex: 0 0 120px;
        border-color: #BA0718;
        border: 1px solid;
        color: #BA0718;
        display: flex;
        align-items: center;
        justify-content: center;

        &.correct {
          border-color: #1E7E2E;
          color: #1E7E2E;
        }

        &.score {
          flex: 0 0 40px;
        }
      }
      &.comments {
        flex: 1;
        display: flex;
        align-items: center;
        border-color: black;
        border: 1px solid;
        color: black;
      }
    }
  }
}
