:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  input {
    width: 100%;
    font-size: 20px;
  }

  p {

    &.result {
      color: #BA0718;

      &.correct {
        color: #1E7E2E;
      }
    }
  }
}
