:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100%;

  p {
    padding: 15px;
    font-size: 20px;
  }

  .question-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: auto;
    align-items: center;

    audio {
      flex: 0 0 54px;
      max-width: 100%;
    }

    img {
      max-width: 100%;
    }

    .answers {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 15px;
    }
  }
}
