.background-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../assets/img/landschap-burgers-desert-header.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container {
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    overflow: hidden;

    .header {
      display: flex;
      flex: 0 0 60px;
      justify-content: space-between;
      background-color: #BA0718;
      padding-left: 15px;

      .logo {
        width: 145px;
      }

      .ecodisplays {
        height: 60px;
      }
    }
  }

  @media only screen and (min-height: 814px) {
    .container:not(.intern) {
      height: 814px;
    }
  }

  @media only screen and (min-width: 414px) {
    .container:not(.intern) {
      width: 414px;
    }
  }
}
