:host {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;

  .container {
    margin: 0 30px 30px 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
    }

    p {
      display: flex;
      align-items: center;
      padding: 0;

      .status {
        height: 15px;
        width: 15px;
        background-color: #ffc001;
        border: 1px solid #363636;
        border-radius: 2px;
        margin-right: 5px;
      }
    }

    button {
      margin-top: 15px;

      .check {
        height: 16px;
      }
    }
  }
}
