@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0;
  font-size: 15px;
  color: #363636;
  text-align: justify;
  padding: 0 30px 15px 30px;
}

h1 {
  margin: 15px 0 0 0;
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  color: #484848;
  padding: 0 30px 0 30px;
  text-align: center;
}


$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {

  .m-#{$space} {
    margin: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

$widths: (5, 10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 100);

@each $width in $widths {
  .w-#{$width} {
    width: $width * 1% !important;
  }
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex: 1 1 0;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mh-100 {
  max-height: 100%;
}

.mw-100 {
  max-width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

button {
  background-color: #18A1D8;
  color: white;
  border-bottom: 5px solid #1478A2;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 13px;
  width: 150px;
  height: 50px;
  border-width: 0 0 5px 0;
  cursor: pointer;

  &:disabled {
    background-color: #1478A2;
    color: #C3C3C3;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-bottom: 15px;
    text-align: justify;
  }

  textarea, input, select {
    border: 2px solid #484848;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #2b2b2b;

    &:focus {
      border-color: #1478A2;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
    }
  }
}

.bold {
  font-weight: bold;
}

.break-word {
  word-wrap: break-word;
}
